.filters {
  display: grid;

  .firstLine,
  .secondLine {
    margin-top: 15px;
    display: inline-flex;

    > * {
      margin-right: 15px;
    }
  }
}

.groups {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 25px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.groupsSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
}